VotingSystem/elections.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Elections" maxOccurs="unbounded"></xs:element>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Type" type="xs:string">
                <xs:element name="Name" type="xs:string">
            </xs:sequence>
        </xs:complexType>
</xs:schema>